span.navbar-brand {
    font-family: 'Cabin Sketch', sans-serif;
    font-size: 3rem;
    margin: 0.5em;
}

.rating {
    font-size: 30px;
    color:#fff;
    padding: 5px 10px;
    background: #333;
    border-radius: 5px;
}

.bookDescription {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white;
}

a:hover {
    background-color: #f2f2f2;
}
